.container{
    height: 100vh;
    width: 100vw;
    background-color: whitesmoke;
    font-weight: bold;
    font-family: 'Roboto';
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.bar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.line{
    height: 0.4vh;
    width: 10vw;
    background-color: rgb(128, 128, 128,20%);
    transition: all 1.5s;
}
.circle{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3vw;
    width: 3vw;
    border-radius: 2000px;
    font-weight: bold;
    color: rgb(128, 128, 128,20%);
    background-color: white;
    border: 2px solid rgb(128, 128, 128,20%);
    transition: all 1.5s;


}
#first{
    border: 2px solid lightskyblue;

}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    padding: 10px 50px;
    color: white;
    background-color: rgb(128, 128, 128,20%);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 1s;
}
#prev{
    margin-right: 25px;
}
#next{
    background-color: lightskyblue;
    margin-left: 25px;
}
.lineblue{
    background-color: lightskyblue;
}
.circleblue{
    border: 2px solid lightskyblue;
}