body{
    background-color: hsl(210, 36%, 96%);
    font-family: 'Roboto',sans-serif;
    min-height: 100vh;

}
.container{
    margin-top: 15vh;


}
h1{
    color: #c59d5f;
    font-family: cursive;
    text-align: center;
    margin-bottom: 50px;
}
p{
    font-weight: light;
}
.answer p{
    color: grey;
    margin-top: 20px;
}
.questions{
    width: 70vw;
    background-color: white;
    border-radius: 10px;
    padding: 10px 25px;
    letter-spacing: 3px;
    margin: 0 auto;
    margin-bottom: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;

}
.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.answer{
    letter-spacing: normal;
    transition: all 1s;
    border: 0;
    overflow: hidden;
    height: 0;
    border-top: 0px;

   

}
.show-answer{
    border-top: 1px solid grey;
    height: 100px;

}
img{
    height: 40px;
    width: 40px;
    cursor: pointer;
    transition: all 1s;
}
img:hover{
    transform: rotate(-90deg);
}