@use '../Globals/functions' as f;
@use '../Globals/breakpoint' as b;
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    background-color: rgb(224, 246, 255);
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}
img{
    height: 80px;
    width: 80px;
    cursor: pointer;

    
   
}
#one{
    margin-top: 20px;
    margin-right: 20px;
    transition: all 0.5s;

}
section img{
    width: 30px;
    height: 30px;
}
.blue{
    color: skyblue;
}
h1{
    margin: 0;

}
.menu{
    background-color: white;
    height: 100vh;
    width: 40vw;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.5s;
    transform: translate(0%);
    @include b.breakpoint-max(small){
        width: 100%;
        height: 100%;
        
    }
    
    

    
    

    
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    
}
#menu{
    margin-top: 50px;
}
#menu p{
    padding-bottom: 30px;
    padding-left: 20px;
    padding-top: 30px;
    font-size: 40px;
    font-weight: 300;
    margin: 0;
    transition: all 0.5s;
  

}
#menu p:hover{
    background-color: skyblue;
    color: rgb(33, 116, 116);
    padding-left: 40px;
    transition: all 0.5s;

}


#footer{
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 90%;

    
}
#footer img{
    margin-right: 20px;
}
.hide{
    transform: translate(-100%);
    transition: all 0.5s;

 


}
#one:hover{
    transform: rotate(90deg);
}
